In [1]:
import pandas as pd

In [2]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../Configuration"

In [3]:
import refinitiv.data as rd

In [4]:
rd.open_session()

In [5]:
df_companies = pd.read_csv('Refinitiv_ESG_Universe.csv', delimiter=';')

df_companies.head()

           ISIN                           Name
0  DK0010244508            A P MOLLER MAERSK B
1  DE000A1TNNN5           A S CREATION TAPETEN
2  CA0002551095  A&W REVENUE RYLT.INC.FD. UTS.
3  CNE100002RY5          A-LIVING SERVICES 'H'
4  US00181T1079         A-MARK PRECIOUS METALS

In [6]:
df_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9960 entries, 0 to 9959
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ISIN    9960 non-null   object
 1   Name    9960 non-null   object
dtypes: object(2)
memory usage: 155.8+ KB

In [7]:
# example, also works with ISIN instead of BASF Ticker
df = rd.get_history(
    universe="BASFn.DE",
    fields=["TR.TotalReturn", "TR.TRESGScore", "TR.TRESGCScore",
            "TR.TRESGCControversiesScore", "TR.SocialPillarScore",
            "TR.GovernancePillarScore", "TR.EnvironmentPillarScore"],
    interval="1Y",
    start="2000-01-01",
    end="2023-01-01",
)

df = df.groupby(df.index.year).first()

df

BASFn.DE,Total Return,ESG Score,ESG Combined Score,ESG Controversies Score,Social Pillar Score,Governance Pillar Score,Environmental Pillar Score
Date,,,,,,,
2000,-3.707266,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2001,-9.775658,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2002,-11.182868,58.538299,58.538299,95.0,54.926894,74.54955,52.939096
2003,28.064678,45.498669,45.498669,90.0,24.240725,55.660475,60.135613
2004,22.754548,53.108913,53.108913,100.0,44.4418,69.792368,51.978244
2005,26.236435,67.814815,53.907408,40.0,82.297644,78.249084,48.017862
2006,17.445026,69.569071,38.045405,6.521739,76.076963,89.637807,51.967563
2007,42.014088,74.163463,50.54327,26.923077,69.377778,71.178925,80.442869
2008,-42.942577,75.736971,64.118486,52.5,69.459185,80.059072,79.311646
2009,67.245873,82.334309,82.334309,92.857143,86.170793,84.073453,77.67024
2010,42.677496,88.095002,54.624424,21.153846,89.736254,86.82598,87.239159
2011,-6.706557,87.076519,86.130852,85.185185,87.44187,85.239793,87.76576
2012,37.335659,86.2998,52.971329,19.642857,90.459063,77.215686,87.452522
2013,12.914258,86.794139,53.397069,20.0,89.446374,77.21733,89.671163
2014,-6.824998,88.609183,75.073822,61.538462,91.820934,80.282696,90.241836
2015,4.377383,87.895091,87.895091,100.0,83.986952,87.4665,91.886063
2016,30.063091,83.784499,71.89225,60.0,80.247908,80.212766,89.198249
2017,7.411517,83.542415,83.542415,100.0,78.80442,79.909045,90.143342
2018,-31.778825,89.870935,88.413728,86.956522,92.011939,82.950646,91.734601
2019,16.677944,90.674278,49.369397,8.064516,92.892421,84.387903,92.10514
2020,2.320263,92.208469,47.80878,3.409091,92.179341,85.774763,95.878128
2021,0.153378,93.263989,93.263989,100.0,93.173195,89.335009,95.575023
2022,-19.528816,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [8]:
# testing the loop
test_frame = df_companies.iloc[:15, :]

# loop to collect data for all available companies, stored in a dictionary with a df for each isin
ESG_data_dict = {}

for isin in test_frame["ISIN"]:

    df = rd.get_history(
        universe=isin,
        fields=["TR.TotalReturn", "TR.TRESGScore", "TR.TRESGCScore",
                "TR.TRESGCControversiesScore", "TR.SocialPillarScore",
                "TR.GovernancePillarScore", "TR.EnvironmentPillarScore"],
        interval="1Y",
        start="2000-01-01",
        end="2023-01-01",
    )
    
    df = df.groupby(df.index.year).first()

    ESG_data_dict[isin] = df

# Assume `dfs_dict` is the dictionary of dataframes
dfs = []
for key, df in ESG_data_dict.items():
    df['key'] = key  # Add a new column containing the key
    dfs.append(df)

# Concatenate the dataframes into a single one
result = pd.concat(dfs)

# save the new dataframe
result.to_csv('first_test.csv')

In [12]:
# loop to collect data for all available companies, stored in a dictionary with a df for each isin
ESG_data_dict = {}

for isin in df_companies["ISIN"]:

    df = rd.get_history(
        universe=isin,
        fields=["TR.TotalReturn", "TR.TRESGScore", "TR.TRESGCScore",
                "TR.TRESGCControversiesScore", "TR.SocialPillarScore",
                "TR.GovernancePillarScore", "TR.EnvironmentPillarScore"],
        interval="1Y",
        start="2000-01-01",
        end="2023-01-01",
    )
    
    df.index = pd.to_datetime(df.index)
    df = df.groupby(df.index.year).first()

    ESG_data_dict[isin] = df

esg_dfs = []
for key, df in ESG_data_dict.items():
    df['key'] = key  # Add a new column containing the key
    esg_dfs.append(df)

# Concatenate the dataframes into a single one
tr_esg_df = pd.concat(esg_dfs)

# save the new dataframe
tr_esg_df.to_csv('tr_esg_df.csv')

In [13]:
tr_esg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224852 entries, 2000 to 2022
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Total Return                163645 non-null  object
 1   ESG Score                   79945 non-null   object
 2   ESG Combined Score          79945 non-null   object
 3   ESG Controversies Score     79936 non-null   object
 4   Social Pillar Score         79936 non-null   object
 5   Governance Pillar Score     79945 non-null   object
 6   Environmental Pillar Score  79936 non-null   object
 7   key                         224852 non-null  object
dtypes: object(8)
memory usage: 15.4+ MB

In [ ]:
rd.close_session()